<h5>Your question</h5>
<%= params['question'] %>
<br><br>

<div class= "bg-warning p-2 text-dark bg-opacity-25 border-start border-5 ms-5">
  <h5>Your question</h5>
  <%= @message %><br><br>
  <%= link_to 'Ask a new question', ask_path %>
</div>
