
<h1>Stupid Coding</h1><br>
<h5>Ask you coach anything</h5><br>
<div btn btn-info>
  <form action="/answer" method="get">
  <input type="text" name="question" placeholder="Enter your questions here" >
  <input type="submit" value="Ask!">
</form>
</div>
